<!DOCTYPE html>
<html>
<head>
    <title>Spotify Track Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <h1>Spotify Track Info</h1>
        <form method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="track_url" placeholder="Track URL">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
